html,
body {
  height: 100%;
  width: 100%;
}

select {
  width: 150px;
  height: 40px;
  margin: 5px;
  border-radius: 8px;
}

button {
  width: 50px;
  height: 45px;
  margin: 5px;
  border-radius: 8px;
}

.search {
  height: 20%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.emoji {
  height: 70%;
  width: 100%;
  font-size: 150px;
}

::placeholder {
  font-size: 15px;
}
